@import "reset";
@import "colors";
@import "mixins";

@import "header";

// .forest-theme {
// }

body {
	background: #ffffff;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main {
	z-index: 1;
	padding: 0 1rem 10rem;
	min-height: 90vh;
}
section {
	padding-top: 1rem;
}
li {
	padding-top: 1rem;
}
img {
	margin-top: 1rem;
}

.hidden {
	display: none;
}
.show {
	display: block;
}

.hero {
	padding: 3rem 0 0;
	h2 {
		padding: 0.5rem 0;
	}
}
.description {
	padding: 1rem 0;
}

button {
	transition: 0.33s ease;
	border-radius: 10px;
	border: none;
	outline: 1px solid;
	&hover {
		outline: 3px solid;
	}
}

h1 {
	font-size: 22px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2 {
	font-size: 19px;
}
.project-card h2 {
}
h3 {
}
p {
	font-size: 17px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

footer {
	height: 51px;
	display: flex;
	align-items: center;
	background: $background;
	color: $text-light;
	p {
		padding: 0 1rem;
	}
}
