@import "reset";
@import "colors";
@import "mixins";

@import "header";

// .forest-theme {
// }

body {
	background: #000000;
	background: #ffffff;
	font-family: "Comfortaa";
}
main {
	z-index: 1;
	padding: 0 1rem 10rem;
	min-height: 90vh;
}
section {
	padding-top: 1rem;
}
li {
	padding-top: 1rem;
}
img {
	// box-shadow: 25px 25px 0 #ff00ffc0;
	margin-top: 1rem;
}

.hidden {
	display: none;
}
.show {
	display: block;
}

.hero {
	padding: 3rem 0 0;
	border-bottom: 1px solid;
	h1 {
		width: 50%;
	}
	h2 {
		padding: 0.5rem 0;
	}
}
.description {
	padding: 1rem 0;
}

button {
	transition: 0.33s ease;
	border-radius: 10px;
	border: none;
	outline: 1px solid;
	&hover {
		outline: 3px solid;
	}
}

footer {
	border-top: 1px solid;
	margin: 0 1rem;
	padding: 10px 0;
	height: 40px;
	/* display: flex; */
	/* align-items: center;
	height: 60px;
	width: 100%; */
	/* position: fixed; */
}

// @import "themes/main";

// .main-theme {

// #menu-bar {
// 	background: $eight;
// 	color: $text-light;
// 	margin: 0;
// 	padding: 0 1rem;
// 	#pop-out {
// 		// top: 60px;
// 		ul li {
// 			font-size: 14px;
// 		}
// 	}
// 	nav {
// 		background: $eight;
// 		padding: 5rem 0.5rem;
// 		color: $text-dark;
// 	}
// }

h1 {
	font-size: 20px;
}
h2 {
	font-size: 17px;
}
.project-card h2 {
}
h3 {
}
p {
	font-size: 15px;
}

// @mixin seventiesShadows($primary, $secondary) {
// 	background: $primary;
// 	.card-link {
// 		background: rgba($secondary, 0.5);
// 	}
// 	img {
// 		box-shadow: -60px 0 0 0 $primary;
// 	}
// 	@media (min-width: 1080px) {
// 		img {
// 			box-shadow: -80px 0 0 0 $primary;
// 		}
// 	}
// }

// @mixin projectImages($primary) {
// 	box-shadow: 20px 20px 0 0 rgba($primary, 0.5);
// }

// li:nth-child(1) {
// 	@include seventiesShadows($one, $two);
// }
// #project-images div:nth-child(1) img {
// 	@include projectImages($one);
// }

// li:nth-child(2) {
// 	@include seventiesShadows($two, $three);
// }
// #project-images div:nth-child(2) img {
// 	@include projectImages($two);
// }

// li:nth-child(3) {
// 	@include seventiesShadows($three, $four);
// }

// li:nth-child(4) {
// 	@include seventiesShadows($four, $five);
// }

// li:nth-child(5) {
// 	@include seventiesShadows($five, $six);
// }

// li:nth-child(6) {
// 	@include seventiesShadows($six, $seven);
// }

// li:nth-child(7) {
// 	@include seventiesShadows($seven, $eight);

// 	color: $text-light;
// }
// li:nth-child(8) {
// 	@include seventiesShadows($eight, $one);
// 	color: $text-light;
// }
// li {
// 	&.no-background {
// 		background: none;
// 	}
// 	img {
// 		transform: translate(30px);
// 	}
// 	@media (min-width: 1080px) {
// 		img {
// 			transform: translate(40px);
// 		}
// 	}
// }
// }
